            #intro {background-color: rgb(254, 230, 255);}
            .intro-section {
                height: 1000px;
                justify-content: center;
                align-items: center;
            }
            .profile {
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
            .profile-img img {
                    position: relative;
                    height: 500px;
                    padding-top: 300px;
            }
            .profile-name {
                    position: absolute;
                    font-size: 270px;
                    font-weight: bold;
                    color: rgb(122, 97, 233);
                    justify-content: center;
                    display: flex;
                    padding-bottom: 100px;
            }
            .profile-data {
                    background-color: rgb(0, 0, 0, 0.5);
                    height: 150px;
                    width: 70%;
                    margin: auto;
                    border-radius: 10px;
                    position: relative;
            }
            .profile-bday {
                    text-align: center;
                    font-size: 18px;
                    color: rgb(238, 204, 233);
                    font-weight: 600;
                    justify-content: center;
                    align-items: center;
                    padding-top: 30px

            }
            .profile-more {
                    text-align: center;
                    padding-top: 15px;
            }
            .profile-more button {
                width: 150px;
                height: 50px;
                border-radius: 10px;
                border: 0px;
                background-color : rgb(122, 97, 233);
                color: white;
                font-size: 18px;
                font-weight: bold;
            }
            .profile-more button:hover {
                opacity: 80%;
                background-color: rgb(90, 57, 240);
                transition: 0.5s;
            }
